version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: fastfood-postgres
    restart: always
    environment:
      POSTGRES_DB: fastfood
      POSTGRES_USER: fastfood_user
      POSTGRES_PASSWORD: fastfood_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
